{% load static %}

<html>

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Taskly | Dashboard </title>

    <link
    rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css"
  />

    <link
      rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"
    />

</head>

{% include 'profile/base.html' %}

    <br>

<div class="container bg-white shadow-md p-5 form-layout">

    <h2 style="color: orange;" class="text-center"> Taskly </h2>

    <br> 

    <p style="color:blueviolet;"> Welcome, to Taskly- <br><br> Your personal task manager application! </p>


    <a href="{% url 'profile-management' %}">Profile Management</a>

  


</div>

</html>


